
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <h1 class="h1">Welcome to Movie Store App!</h1>
    <input type="button" value="Click me" class="btn btn-danger" />
</body>

<script src="~/lib/jquery/jquery.js"></script>
</html>
