################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieStore/MovieStore/bin/Debug/netcoreapp3.1
/MovieStore/MovieStore/obj
