
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllMovies</title>
</head>
<body>
    <h1>All Movie List</h1>
    <button>Click Me</button>
</body>
</html>
